 html, body {
     overflow: visible;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #003865;
     color: #ffffff;
 }
h1 {
     text-align: left;
     margin-left: 30px;
     margin-right: 30px;
 }
h2 {
     text-align: left;
     margin-left: 30px;
     margin-right: 30px;
 }
p {
     text-align: left;
     color: #c6c6c6;
     margin-left: 30px;
     margin-right: 30px;
 }
li {
     text-align: left;
     color: #c6c6c6;
     margin-left: 30px;
     margin-right: 30px;
 }
button {
     margin-left: 30px;
     margin-right: 30px;
 }
.nav-button {
 display: inline-block;
 padding: 12px 20px;
 background-color: #2d6cdf;
 color: white;
 text-decoration: none;
 border-radius: 6px;
 font-weight: 600;
}

.nav-button:hover {
 background-color: #1f4fbf;
}
